<div class="page-header">
  <h1>Question #<%= @question.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Question</dt>
  <dd><%= @question.question %></dd>

  <dt>School</dt>
  <dd><%= @question.school_id %></dd>

</dl>
