<div class="page-header">
  <h1>Response #<%= @response.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Student</dt>
  <dd><%= @response.student_id %></dd>

  <dt>Question</dt>
  <dd><%= @response.question_id %></dd>

  <dt>Qanswer integer</dt>
  <dd><%= @response.qanswer_integer %></dd>

</dl>
