<div class="page-header">
  <h1>School #<%= @school.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @school.name %></dd>

  <dt>Email end</dt>
  <dd><%= @school.email_end %></dd>

  <dt>Theme</dt>
  <dd><%= @school.theme %></dd>

</dl>
